{% extends 'template.html.twig' %}

{% block body %}

<div class="alert alert-success">

    {{ personne.firstname | capitalize}} {{ personne.name | capitalize }} a {{ personne.age }} ans
    {% if app.user %}
    <p> Created by : {{ app.user.email }}</p>
    {% endif %}
</div>
    TAG
    {% for tag in personne.tags %}
        Tag {{ tag.name }}
    {% endfor %}
{% endblock %}

{% block title %}
    {{ personne.firstname }} {{ personne.name }}
{% endblock %}

