{{ form_start(form) }}

    {{ form_row(form.entityname) }}
    {{ form_row(form.filepath) }}
    {{ form_row(form.description) }}
    {{ form_row(form.entityId) }}
    {{ form_row(form.type) }}

<button type="submit" class="btn btn-primary">Envoyer</button>

{{ form_end(form) }}