{% extends 'template.html.twig' %}

{% block body %}
    <h1>Attachments by Entity ID</h1>

    <ul>
        {% for attachment in attachments %}
            <li>
                <strong>ID:</strong> {{ attachment.id }}<br>
                <strong>Entity Name:</strong> {{ attachment.entityname }}<br>
                <strong>File Path:</strong> {{ attachment.filepath }}<br>
                <strong>Description:</strong> {{ attachment.description }}<br>
                <strong>Entity id:</strong> {{ attachment.entityId }}<br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

